.white-text {
  color: #000 !important;
}
.red.lighten-1 {
  background-color: #ffffff !important;

}
.red.lighten-3 {
  background-color: #d81818 !important;
}
.col .m6 .hide-on-small-only{
  border-top: none !important;
}
body {
  font-family: roboto;
  letter-spacing: 1px;
}
.tabs {
  margin: 0.5px auto;
}
.tabs .tab a{
  color: white !important
}
.tabs .tab a:hover{
  color: #B9B9B9 !important;
}
.tabs .tab a:active{
  color: #d81818 !important;
}
.red.lighten-5 {
  background-color: #ffffff !important;
}
.red.lighten-4 {
  background-color: #ffffff !important;
}
.container {
  color: #000;
}
.page-footer .footer-copyright {
  border-top: 1px solid #d81818 !important;
  background-color: #d81818 !important;
}
.page-footer .footer-copyright .container{
  color: #ffffff !important;
}
.page-footer .footer-copyright a{
  color: #ffffff !important;
}
span.badge.new {
  background-color: #ffffff !important;
  border: 1px solid;
  color: #000;
}
td,
th {
  border-radius: 0px;
}
td {
  color:#000;
}
th {
  color: #d81818;
}
.select-wrapper span.caret {
  color: #9e9e9e;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  color: #d81818 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #000 !important;
  border: 1px solid;
  background: linear-gradient(to bottom, #fff 0%, #fffcfc 100%);
}
.row .col.m6 {
  border-bottom: 1px solid;
}
.row .col {
  padding: 0 0.5rem;
}
.tabs .tab a {
  padding: 0px 22px;
}
.tabs .indicator {
  background-color: unset;
}
.chip {
  color: black;
  background-color: #fafafa;
  border: 1px solid;
  line-height: 28px;
}
.collection .collection-item {
  border-bottom: 1px solid #ffffff;
}

header h5 {
  content: url(../sky.png);
  size: 20px;
  margin: 0 auto;
  padding: 20px;
}

@media only screen and (min-width: 601px){
  .row .col.m6 {
    width: 100%;
  }
}
