[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Ruby
[{Gemfile,*.{gemspec,rb}}]
indent_size = 2

# Gherkin
[*.feature]
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_size = 2

[*.{bat,cmd}]
end_of_line = crlf
